<strong class="l-logo">여성가족부</strong>
<div class="inner">
    <div class="d-flex">
        <button class="member-info">
            <div class="member-info__name"><em>홍길동</em> 님(<span>media01</span>)</div>
        </button>
        <dl class="login-info">
            <dt class="login-info__tit">최종 로그인</dt>
            <dd class="login-info__txt">2021/12/25 11:45:38</dd>
            <dt class="login-info__tit">최종 IP</dt>
            <dd class="login-info__txt">192.168.0.00</dd>
        </dl>
        <button type="button" class="btn-otp"><span>채증툴 OTP</span></button>
        <button type="button" class="btn-logout"><span>로그아웃</span></button>
    </div>
</div>