<div class="gnb-depth1">
    <ul class="gnblist-depth1">
        <li class="gnblist-depth1__item">
            <a href="#none" class="gnblist-depth1__anchor--m01">점검기준관리</a>
            <!-- depth2 -->
            <div class="gnb-depth2">
                <ul class="gnblist-depth2">
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">점검분야</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">보고서템플릿</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">점검가이드</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">청소년유해매체물정보</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">유해카테고리</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">업체정보관리</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">용어 관리</a>
                    </li>
                </ul>
            </div>
            <!-- //depth2 -->
        </li>
        <li class="gnblist-depth1__item">
            <a href="#none" class="gnblist-depth1__anchor--m02">점검대상관리</a>
            <!-- depth2 -->
            <div class="gnb-depth2">
                <ul class="gnblist-depth2">
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">서비스관리</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">서비스점검목록</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">컨텐츠점검대상</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">민원정보</a>
                    </li>
                </ul>
            </div>
            <!-- //depth2 -->
        </li>
        <li class="gnblist-depth1__item">
            <a href="#none" class="gnblist-depth1__anchor--m03">점검업무할당</a>
            <!-- depth2 -->
            <div class="gnb-depth2">
                <ul class="gnblist-depth2">
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">점검계획</a>
                    </li>
                </ul>
            </div>
            <!-- //depth2 -->
        </li>
        <li class="gnblist-depth1__item">
            <a href="#none" class="gnblist-depth1__anchor--m04">점검수행</a>
            <!-- depth2 -->
            <div class="gnb-depth2">
                <ul class="gnblist-depth2">
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">서비스점검</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">컨텐츠점검</a>
                    </li>
                </ul>
            </div>
            <!-- //depth2 -->
        </li>
        <li class="gnblist-depth1__item">
            <a href="#none" class="gnblist-depth1__anchor--m05">검토 및 후속조치</a>
            <!-- depth2 -->
            <div class="gnb-depth2">
                <ul class="gnblist-depth2">
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">점검내용검토</a>
                    </li>
                </ul>
            </div>
            <!-- //depth2 -->
        </li>
        <li class="gnblist-depth1__item">
            <a href="#none" class="gnblist-depth1__anchor--m06">인력관리</a>
            <!-- depth2 -->
            <div class="gnb-depth2">
                <ul class="gnblist-depth2">
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">근태관리</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">성과관리</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">직원관리</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">조직관리</a>
                    </li>
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">메뉴접근권한관리</a>
                    </li>
                </ul>
            </div>
            <!-- //depth2 -->
        </li>
        <li class="gnblist-depth1__item">
            <a href="#none" class="gnblist-depth1__anchor--m07">통계데이터추출</a>
            <!-- depth2 -->
            <div class="gnb-depth2">
                <ul class="gnblist-depth2">
                    <li class="gnblist-depth2__item">
                        <a href="#none" class="gnblist-depth2__anchor nodepth">데이터추출</a>
                    </li>
                </ul>
            </div>
            <!-- //depth2 -->
        </li>
    </ul>
</div>