@charset "UTF-8";

.ui-widget-header {
border: 0px solid #dddddd;
background: #fff;
}

.ui-datepicker-calendar>thead>tr>th {
font-size: 14px !important;
}

.ui-datepicker .ui-datepicker-header {
position: relative;
padding: 10px 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
border: 0px solid #c5c5c5;
background-color: transparent;
font-weight: normal;
color: #454545;
text-align: center;
}

.ui-datepicker .ui-datepicker-title {
margin: 0 0em;
line-height: 16px;
text-align: center;
font-size: 14px;
padding: 0px;
font-weight: bold;
}

.ui-datepicker {
display: none;
background-color: #fff;
border-radius: 4px;
margin-top: 10px;
margin-left: 0px;
margin-right: 0px;
padding: 20px;
padding-bottom: 10px;
width: 300px;
box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
}
    
.ui-widget.ui-widget-content {
    border: 1px solid #eee;
}

#datepicker:focus>.ui-datepicker {
display: block;
}

.ui-datepicker-prev,
.ui-datepicker-next {
cursor: pointer;
}

.ui-datepicker-next {
float: right;
}

.ui-state-disabled {
cursor: auto;
color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
text-align: center;
padding: 10px;
font-weight: 100;
font-size: 20px;
}

.ui-datepicker-calendar {
width: 100%;
}

.ui-datepicker-calendar>thead>tr>th {
padding: 5px;
font-size: 20px;
font-weight: 400;
}


.ui-datepicker-calendar>tbody>tr>td>a {
color: #000;
font-size: 12px !important;
font-weight: bold !important;
text-decoration: none;
    
}


.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
cursor: auto;
background-color: #fff;
}
    
.ui-datepicker-calendar>tbody>tr>td {
    border-radius: 100%;
    width: 44px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    font-weight: 100;
    text-align: center;
    font-size: 12px;
}
    
.ui-datepicker-calendar>tbody>tr>td:hover {
    background-color: transparent;
    opacity: 0.6;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
border: 0px solid #cccccc;
background-color: transparent;
font-weight: normal;
color: #2b2b2b;
}

.ui-widget-header .ui-icon {
background-image: url('/static/images/btn_datepicker.png');
}
.ui-icon-circle-triangle-e {
background-position: -20px 0px;
background-size: 36px;
}

.ui-icon-circle-triangle-w {
background-position: -0px -0px;
background-size: 36px;
}
    
.ui-datepicker-calendar>tbody>tr>td:first-child a{
color: red !important;
}
    
.ui-datepicker-calendar>tbody>tr>td:last-child a{
color: #0099ff !important;
}
    
.ui-datepicker-calendar>thead>tr>th:first-child {
    color: red !important;
}
    
.ui-datepicker-calendar>thead>tr>th:last-child {
    color: #0099ff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 0px;
    background: #f1f1f1;
    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}


.inp {padding:10px 10px; background-color:#f1f1f1; border-radius:4px; border:0px;}
.inp:focus {outline:none; background-color:#eee;}

.ui-timepicker-div.ui-timepicker-oneLine {padding-top:10px; border-top:2px solid #ddd;}
.ui-timepicker-div.ui-timepicker-oneLine dd.ui_tpicker_second {display: none;}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {padding-top: 5px; font-family: "Noto Sans KR";}
.ui-timepicker-div.ui-timepicker-oneLine dl dd, .ui-timepicker-div.ui-timepicker-oneLine dl dd > div {vertical-align: top;}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_hour_slider .ui-timepicker-select,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_minute_slider .ui-timepicker-select {
    width: 50px;
    height: 30px;
    padding: 0 6px;
    font-family: "Noto Sans KR";
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    border: 0;
    border-radius: 4px;
    border: 1px solid #cbdfff;
    background: #f1f6ff;
    color: #000;
    -webkit-transition: border 0.5s;
    transition: border 0.5s;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_hour_slider,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_minute_slider {position: relative;}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_hour_slider::after,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_minute_slider::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8px;
    display: block;
    margin-top: -6px;
    width: 8px;
    height: 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before {
    margin: 0 3px;
    line-height: 30px;
}
.ui-datepicker .ui-datepicker-buttonpane {overflow: hidden; padding: 10px 0 5px;}
.ui-datepicker .ui-datepicker-buttonpane button {
    height: 30px;
    margin: 0;
    padding: 0 15px;
    border: 1px solid #707070;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    background-color: #fff;
    color: #161616;
    opacity: 1;
}